@charset "utf-8";
/* CSS Document */
body {
	color: #232323;
	font-size: 14px;
	font-family: Comic Sans MS, sans-serif;
	background: #5c5946;
}

.content {
	width: 730px;
	text-align: left;
	padding: 10px;
	background: #8f6331;
}

div {
	color: #232323;
	font-size: 14px;
	font-family: Comic Sans MS, sans-serif;
}

.sm {
	font-family: Comic Sans MS, san-serif;
	font-size: 10px;
}

.title {
	color: #5c5946;
	font-size: 18px;
	font-family: Comic Sans MS, sans-serif;
	font-weight: bold;
}

.indicia {
	color: #fffFFF;
	font-size: 10px;
	font-family: Comic Sans MS, sans-serif;
	padding-bottom: 24px;
}

.nomargin {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

a {
	color: blue;
}

	a:hover {
		color: blue;
	}

	a:visited {
		color: blue;
	}

input.sm_field {
	width: 100px;
}

input.med_field {
	width: 250px;
}

.red {
	color: red;
}
